# Node.js Dependencies
node_modules/

# Environment Variables
.env

# Logs
*.log

# System Files
.DS_Store

# VS Code Settings
.vscode/

# Ignore SQLite file to avoid sensitive data and enable reproducibility.
data/database.sqlite